[submodule "CryptoPkg/Library/OpensslLib/openssl"]
	path = CryptoPkg/Library/OpensslLib/openssl
	url = https://github.com/openssl/openssl
[submodule "SoftFloat"]
	path = ArmPkg/Library/ArmSoftFloatLib/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "Tpm2TssPkg/tpm2-tss"]
	path = Tpm2TssPkg/tpm2-tss
	url = https://github.com/flihp/tpm2-tss.git
	branch = edk2-build
